link(rel="stylesheet",href="css/basic.css",type="text/css")
link(rel="stylesheet",href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css")
link(type="text/css", href="/javascript/jquery-ui-themes/cupertino/jquery.ui.all.min.css", rel="stylesheet")

#application
  #info
  #debug
  #search
    div He... a donde vas guacho ?
    include fromto.jade
  #route
  div#map_canvas
     here goes map2
  script(type='text/javascript')
    head.ready(function() {
        var auto = new AutocompleterAppView();
        initialize();
    });
