!!! 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDCZmmHNq8A31OqExKHMAJ5dVvlYKtvaYQ&sensor=false')
    script(type='text/javascript', src='/scripts/head.min.js')
  body

    #content!= body
      script(type='text/javascript')
        head.js(
            {jquery:"http://code.jquery.com/jquery.min.js"},
            "/scripts/jquery-ui.min.js",
            "/nowjs/now.js",
            "/scripts/underscore-min.js",
            "/scripts/backbone-min.js",
            "/scripts/backbone/model.js",
            "/scripts/util.js",
            {proj4js : "/scripts/proj4js/lib/proj4js-compressed.js"},
            {guacho  : "/scripts/guacho.js"}
          );
    div#license(data-role='footer')
      h4
        a(href="http://www.gnu.org/licenses/agpl-3.0.html") AGPL-3.0
