body
  height 100%
  margin 0
  padding 0

html
  height 100%

input
  width 80%
  padding 5px
  border 1px solid

#content
  height 100%

#application
  height 100%

#map_canvas
  height 80%
  width  100%